## Config
.config/dolphinrc
.config/yay
.config/xsettingsd
.config/zen
.config/zed
.config/winboat
.config/trashrc
.config/mimeapps.list
.config/mozilla
.config/kiorc
.config/gh
.config/go
.config/gtk-*
.config/dconf
.config/btop
.config/vesktop
.config/session
.config/simple-update-notifier
.config/user-*
