## Config
.config/autostart
.config/easyeffects
.config/Kvantum
.config/obsidian
.config/qt6ct
.config/remmina
.config/spotify
.config/systemd
.config/xdg*
.config/arkrc
.config/kde*
.config/pavucontrol.ini
.config/dolphinrc
.config/yay
.config/xsettingsd
.config/zen
.config/zed
.config/winboat
.config/trashrc
.config/mimeapps.list
.config/mozilla
.config/kiorc
.config/gh
.config/go
.config/gtk-*
.config/dconf
.config/btop
.config/vesktop
.config/session
.config/simple-update-notifier
.config/user-*

## Docker
.docker/degoog/data

## Common
.cache
.cargo
.electron-gyp
.gnupg
.local
.npm
.pki
.rustup
.ssh
.steam
.vm
.winboat
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
winboat
.bash*
.gtkrc*
.p10k.zsh
.profile
.pulse-cookie
.steampid
.viminfo
.zcomp*
.zsh_history
.zshenv
.zshrc.pre-oh-my-zsh
.gitconfig
